@import '~bulma/bulma';
@import 'assets/css/spacing.css';

.test {
  color: forestgreen;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
.bold {
  font-weight: bold;
}
.cover {
  background-size: cover;
  /*background-position: center;*/
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.hero {
  position: relative;
}
.hero-body {
  padding: 3rem 1.5rem;
}
.hero-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('https://images.unsplash.com/photo-1531263060782-b024de9b9793?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.is-rounded {
  border-radius: 10px !important;
}


.remove-btn {
  margin-right: 0.5rem;
}

.fade-enter {
  opacity: 0.01;
  transform: scale(0.9);
}

.fade-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 1000ms, transform 1000ms, ease-in;
  /*transition: opacity 1000ms ease-in;*/
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  /*transition: opacity 1000ms ease-in;*/
  transform: scale(0.9);
  transition: opacity 1000ms, transform 1000ms ease-in;
}
.page-wrapper {
  min-height: 55vh;
}
